<ul class="nav nav-tabs" id="myTab">
  {% for i in page.items %}
  <li class="{% if forloop.index == 1 %} active {% endif %}">
    <a data-toggle="tab" href="#tab-n-{{forloop.index}}">
      {% if i.label %}
        {{i.label}}
      {% else %}
        {{i.name}}
      {% endif %}
    </a>
  </li>
  {% endfor %}
</ul>
<div class="tab-content" id="myTabContent">
  {% for i in page.items %}
    <div id="tab-n-{{forloop.index}}" class="tab-pane fade {% if forloop.index == 1 %} active fade in {% endif %}">
      <div class="row show-grid">                
        <div class="span12">                        
          <div>
            <ul class="thumbnails">
              {% for v in i.data %}
                <li class="span3">
                  <div class="thumbnail">
                    <a class='fancybox' title='<a href="img/kat/{{i.name}}/{{v.name}}.jpg" target="_blank">Увеличить</a>' href='img/kat/{{i.name}}/{{v.name}}.jpg'>
                      <img alt="" src="img/tn-kat/{{i.name}}/{{v.name}}.jpg">
                    </a>
                    <center>
                      <h3>
                        {{v.name}}
                      </h3>
                    </center>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

