<!DOCTYPE html>
<html>
    <head>
        <!--  SEO STUFF START HERE -->
        <title>{{ page.title }}</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta name="robots" content="follow, index" />
        <!--  SEO STUFF END -->
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic" rel="stylesheet" type="text/css" />
        {% include styles.html %}
        <!--[if lte IE 8]>
            <link rel="stylesheet" type="text/css" href="css/IE-fix.css" />
        <![endif]-->
    </head>
    <body>
<!-- THE LINE AT THE VERY TOP OF THE PAGE -->
        <div class="top_line"></div>
<!-- HEADER AREA -->
        <header>
            <div class="container">
                <div class="row">
<!-- HEADER: LOGO AREA -->
                    <div class="span3 logo">
                        <a class="logo" href="index.html">
                            <img alt="logo" title="Megasektor.ru" src="img/logo.png">
                        </a>
                    </div>
                    <div class="span7">
                      <div class='row'>
                        <div class='span5 slogan'>
                          Официальный дистрибьютор гарнитуры европейского завода Slevarna Pilana Hulin
                        </div>
                        <div class='span2'>
                          <img alt="logo" class='second-logo' src="img/logo2.png" width='100px'>
                        </div>
                      </div>
                    </div>
                    <div class="span2">
<!-- HEADER: PHONE NUMBER -->
                        <p class="head_phone"><a href="tel:+7 (499) 726-57-26">+7 (499) 726-57-26</a></p>
                    </div>
<!-- HEADER: SOCIAL ICONS -->
                </div>
            </div>
<!-- HEADER: PRIMARY SITE NAVIGATION -->
            <div class="container">
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <div class="buttons-container">
                            </div>
                            <div class="nav-collapse">
                                <ul class="nav nav-pills">
                                  <li class="{% if page.menu == 'index' %} active {% endif %} single">
                                    <a href="index.html">ГЛАВНАЯ <i></i> </a>
                                  </li>

                                  <li class="{% if page.menu == 'about' %} active {% endif %} dropdown">
                                    <a class="dropdown-toggle disabled" data-toggle="dropdown" href="about.html">
                                        О КОМПАНИИ<i>ООО "Мегасектор"</i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="about.html">О компании</a></li>
                                        <li><a href="details.html">Реквизиты</a></li>
                                    </ul>
                                  </li>

                                  <li class="dropdown">
                                      <a class="dropdown-toggle disabled" data-toggle="dropdown" href="garnitura.html">
                                          ПРОДУКЦИЯ<i>каталоги изделий</i>
                                      </a>
                                      <ul class="dropdown-menu">
                                          <li><a href="garnitura.html">Гарнитура</a></li>
                                          <li><a href="blasting.html">Точное литье (нестандартное)</a></li>
                                          <li><a href="stainless.html">Жаростойкая нержавеющая сталь</a></li>
                                          <li><a href="ductile_iron.html">Высокопрочный чугун</a></li>
                                          <li><a href="others.html">Прочее</a></li>
                                      </ul>
                                  </li>
                                  <li class="single">
                                    <a href="contact_us.html">КОНТАКТЫ <i>на связи с Вами</i> </a>
                                  </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
<!-- MAIN CONTENT AREA -->
        <div class="main-content">
            <div class="container">
              {{ content }}
            </div>
        </div>
<!-- FOOTER STARTS HERE -->
        <footer id="footer">
            <div class="footer-top"></div>
            <div class="footer-wrapper">
                <div class="container">
                    <div class="row show-grid">
                        <div class="span12">
                            <div class="row show-grid">
<!-- FOOTER: LOGO -->
                                <div class="span4">
                                    <img alt="" class="footer-logo" src="img/grey_logo.png" />
<!-- FOOTER: ADDRESS -->
                                    <address class="address">
                                        <p><i class="icon-map-marker icon-large"></i>Russian Federation</p>
                                        <p><i>&nbsp;</i>115035 г. Москва</p>
                                        <p><i>&nbsp;</i>ул. Садовническая 72, стр1, офис 6</p>
                                        <p><i class="icon-phone icon-large"></i>Тел:  (499) 726-57-26</p>
                                        <p><i class="icon-print icon-large"></i>Моб: (926) 922-86-31</p>
                                    </address>
                                </div>
<!-- FOOTER: ABOUT US -->
                                <div class="span4 footer-center">
                                    <h4 class="center-title">О Компании</h4>
                                    <p>Компания является официальным дистрибьютором европейского производителя гарнитуры для предприятий целюллозо-бумажной отрасли, а так же пищевой и машиностроительной отраслей.</p>
									<p>У нас за плечами 10 летний опыт сотрудничества с отечественными производителями гарнитуры и поставки для потребителей в РФ.</p>
                                </div>
<!-- FOOTER: NAVIGATION LINKS -->
                                <div class="span4 footer-right">
                                    <h4 class="center-title">Навигация</h4>
                                    <ul class="footer-navigate">
                                        <li>
                                            <a href="index.html">Главная</a>
                                        </li>
                                        <li>
                                            <a href="about.html">О Компании</a>
                                        </li>
                                        <li>
                                            <a href="garnitura.html">Продукция</a>
                                        </li>
                                        <li>
                                            <a href="contact_us.html">Контакты</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row show-grid">
<!-- FOOTER: COPYRIGHT TEXT -->
                        <div class="span10">
                            <p> Все права защищены, copyright 2013.</p>
                        </div>

                        <div class='span2' style='padding-top: 10px'>
                          {% include metrika_informer.html %}
                        </div>
                    </div>
                </div>
            </div>
        </footer>
      {% include scripts.html %}
      {% include metrika_counter.html %}
      {% include ganal.html %}
    </body>
</html>
